/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
}

body {
    background-image: url("./Layer1.png");
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    align-items: center;
    justify-content: center;
}
